<a href="#" class="chat-preview-wrapper">
    <div class="chat-preview">
        <div class="chat-preview__image-wrapper">
            {{#if image }}
            <img src="{{{imagePath}}}" alt="image" />
            {{else}}
            <span class="chat-preview__icon"></span>
            {{/if}}
        </div>
        <div class="chat-preview__chat-info">
            <p class="chat-preview__name">{{{title}}}</p>
            <p class="chat-preview__lastMessage">{{{lastMessage}}}</p>
        </div>
        <div class="chat-preview__time">{{{time}}}</div>
    </div>
</a>
