<div class="chats">
    <div class="chats__navigation">
        {{{ Link class="chats__link" linkText="Профиль >" href="#" onClick=onProfileLinkClick }}}
        {{!-- {{{ Searchbox }}} --}}
        <div class="chats__create-chat">
            {{{ Input type="text" id="newChatTitle" name="newChatTitle" placeholder="Новый чат" }}}
            {{{ Button heading="Создать" onClick=onCreateChatClick }}}
            {{{ FormError text="" ref="newChatError" }}}
        </div>
    </div>
    <div class="chats__list">
        {{#each store.state.chats}}
            {{{ ChatPreview name=this.title lastMessage="Изображение" time="10:49" }}}
        {{/each}}
    </div>
</div>
