<div class="profile-card">
    {{{ Avatar }}}
    <p class="profile-card__name">{{{name}}}</p>
    {{{ KeyValueLine key="Почта" value=store.state.user.email }}}
    {{{ KeyValueLine key="Логин" value=store.state.user.login }}}
    {{{ KeyValueLine key="Имя" value=store.state.user.firstName }}}
    {{{ KeyValueLine key="Фамилия" value=store.state.user.secondName }}}
    {{{ KeyValueLine key="Имя в чате" value=store.state.user.displayName }}}
    {{{ KeyValueLine key="Телефон" value=store.state.user.phone }}}
    <br />
    <br />
    {{{ Link class="profile-card__edit-link" linkText="Изменить данные" href="#" onClick=onEditProfileClick }}}
    {{{ Link class="profile-card__edit-link" linkText="Изменить пароль" href="#" onClick=onChangePasswordClick }}}
    {{{ Link class="profile-card__logout-link" linkText="Выйти" href="#" onClick=onLogoutClick }}}
</div>
