<div>
    <div class="modal {{{state}}} {{{cssModificator}}}">
        <h1 class="modal__heading">{{{heading}}}</h1>
        {{#if inputType}}
            {{{ Input type=inputType id="newChatUser" name="newChatUser" placeholder="Введите id пользователя" ref="input" }}}
        {{/if}}

        {{#if message}}
            <p class="modal__message">{{{message}}}</p>
        {{/if}}

        {{#if buttonText}}
            {{{ Button heading=buttonText onClick=onButtonClick }}}
        {{/if}}
    </div>
    {{{ Backdrop onClick=onBackdropClick }}}
</div>
